<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Ardurobotml -->
      <package
            uri="http://org.gemoc/ardurobotml"
            class="org.gemoc.ardurobotml.ArdurobotmlPackage"
            genModel="model/Ardurobotml.genmodel"/>
   </extension>

</plugin>
