<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.gemoc.gemoc_language_workbench.concurrent.xdsml">
    <XDSML_Definition name="ardurobotml" xdsmlFilePath="/org.gemoc.ardurobotml.xdsml/project.xdsml" modelLoader_class="org.gemoc.gemoc_language_workbench.extensions.sirius.modelloader.DefaultModelLoader" codeExecutor_class="ardurobotml.xdsml.api.impl.ArdurobotmlCodeExecutor" toCCSLQVTOFilePath="/org.gemoc.ardurobotml.dse/qvto-gen/modeling/ardurobotml.qvto" solver_class="org.gemoc.gemoc_language_workbench.extensions.timesquare.moc.impl.CcslSolver" />
  </extension>
</plugin>
