<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Ardurobotml -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.gemoc.ardurobotml.presentation.ArdurobotmlModelWizardID"
            name="%_UI_ArdurobotmlModelWizard_label"
            class="org.gemoc.ardurobotml.presentation.ArdurobotmlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ArdurobotmlModelFile.gif">
         <description>%_UI_ArdurobotmlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Ardurobotml -->
      <editor
            id="org.gemoc.ardurobotml.presentation.ArdurobotmlEditorID"
            name="%_UI_ArdurobotmlEditor_label"
            icon="icons/full/obj16/ArdurobotmlModelFile.gif"
            extensions="ardurobotml"
            class="org.gemoc.ardurobotml.presentation.ArdurobotmlEditor"
            contributorClass="org.gemoc.ardurobotml.presentation.ArdurobotmlActionBarContributor">
      </editor>
   </extension>

</plugin>
